@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
@import "config";

body {
  font: {
    family: "Poppins", sans-serif;
    size: 16px;
    weight: 300;
  }
  background-color: $color-1;
}
main {
  width: 90%;
  margin: auto;
  max-width: 375px;
  padding: 1em;
  box-sizing: border-box;
  color: white;
}

nav {
  text-align: center;
  color: $color-1;
  padding: 0.001em 1em 0 1em;
  p {
    font-weight: 600;
    font-size: 1.3rem;
    background-color: white;
  }
  ul {
    list-style: none;
    li {
      margin: 0 auto 0.5em auto;
      width: 30%;
      background-color: white;
      text-align: center;
      height: 30px;
      border-radius: 3px;
      a {
        color: $color-1;
        text-decoration: none;
      }
      a:hover {
        border-bottom: 1px solid $color-1;
      }
    }
  }
}

.skills {
  margin-top: 3em;
  .glass {
    width: 90%;
    margin: auto;
    border: 1px solid $color-2;
    background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.15)
    );
    border-radius: 15px;
    h1 {
      text-align: center;
    }
    ul {
      margin: 3em 5em;
    }
  }
}

.my-projects {
  width: 90%;
  margin: auto;
  border: 1px solid $color-2;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
  h1 {
    text-align: center;
  }
  .projects {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    .proj {
      width: 90%;
      border: 2px solid $color-2;
      border-radius: 10px;
      margin-bottom: 2em;
      padding: 20px;
      box-sizing: border-box;
      background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.15)
        );
      img {
        width: 98%;
        height: fit-content;
      }
      .project-links {
        display: flex;
        justify-content: space-between;
        a {
          color: white;
        }
      }
    }
  }
}

.about-me {
  width: 90%;
  margin: auto;
  border: 1px solid $color-2;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
  h1 {
    text-align: center;
  }
}

.contacts {
  width: 60%;
  margin: auto;
  border: 1px solid $color-2;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
  #contacts {
    margin: auto;
    color: white;
    display: flex;
    gap: 2em;
    justify-content: center;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      color: orangered;
    }
  }
}

/* Medis Query */
@media (min-width: 675px) {
  main {
    max-width: 1440px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    ul {
      width: 50%;
      display: flex;
      gap: 15px;
      justify-content: end;
      li {
        margin: 0;
      }
    }
  }
}
