@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #1A374D;
}

main {
  width: 90%;
  margin: auto;
  max-width: 375px;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

nav {
  text-align: center;
  background-color: white;
  color: #1A374D;
  height: 60px;
  padding: 0.001em 1em 0 1em;
}

nav p {
  font-weight: 600;
  font-size: 1.3rem;
}

nav ul {
  list-style: none;
}

nav ul li {
  text-decoration: none;
}

nav ul li a {
  color: #1A374D;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 1px solid #1A374D;
}

.skills {
  margin-top: 3em;
}

.skills .glass {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
}

.skills .glass h1 {
  text-align: center;
}

.skills .glass ul {
  margin: 3em 5em;
}

.projects {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.projects h1 {
  text-align: center;
}

.projects .proj .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects .proj .project-links a {
  color: white;
}

.about-me {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.about-me h1 {
  text-align: center;
}

.contacts {
  width: 60%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.contacts #contacts {
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts #contacts a {
  color: white;
  text-decoration: none;
}

.contacts #contacts a:hover {
  color: orangered;
}

/* Medis Query */
@media (min-width: 675px) {
  main {
    max-width: 1440px;
  }
  nav {
    text-align: justify;
  }
  nav .author {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  nav .nav-items {
    float: right;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    top: -70px;
  }
  nav .nav-items ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5em;
    float: inherit;
  }
}
/*# sourceMappingURL=main.css.map */