@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #1A374D;
}

main {
  width: 90%;
  margin: auto;
  max-width: 375px;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

nav {
  text-align: center;
  color: #1A374D;
  padding: 0.001em 1em 0 1em;
}

nav p {
  font-weight: 600;
  font-size: 1.3rem;
  background-color: white;
}

nav ul {
  list-style: none;
}

nav ul li {
  margin: 0 auto 0.5em auto;
  width: 30%;
  background-color: white;
  text-align: center;
  height: 30px;
  border-radius: 3px;
}

nav ul li a {
  color: #1A374D;
  text-decoration: none;
}

nav ul li a:hover {
  border-bottom: 1px solid #1A374D;
}

.skills {
  margin-top: 3em;
}

.skills .glass {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
}

.skills .glass h1 {
  text-align: center;
}

.skills .glass ul {
  margin: 3em 5em;
}

.my-projects {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.my-projects h1 {
  text-align: center;
}

.my-projects .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-projects .projects .proj {
  width: 70%;
  border: 2px solid #406882;
  margin-bottom: 2em;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my-projects .projects .proj img {
  width: 98%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.my-projects .projects .proj .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-projects .projects .proj .project-links a {
  color: white;
}

.about-me {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.about-me h1 {
  text-align: center;
}

.contacts {
  width: 60%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.contacts #contacts {
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts #contacts a {
  color: white;
  text-decoration: none;
}

.contacts #contacts a:hover {
  color: orangered;
}

/* Medis Query */
@media (min-width: 675px) {
  main {
    max-width: 1440px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
  }
  nav ul {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  nav ul li {
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */