@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #1A374D;
}

main {
  width: 90%;
  margin: auto;
  max-width: 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

nav {
  color: #1A374D;
}

nav .header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0 0.7em;
}

nav .header p {
  font-weight: 600;
  font-size: 1.3rem;
}

nav .header .toggle:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

nav .index {
  list-style: none;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

nav .index li {
  background-color: white;
  height: 30px;
  padding-left: 1em;
  border: 0.1px solid #1A374D;
}

nav .index li a {
  color: #1A374D;
  text-decoration: none;
}

nav .show-index {
  height: 160px;
}

.bar-img {
  width: 15px;
  color: #1A374D;
}

.skills {
  margin-top: 3em;
}

.skills .glass {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
}

.skills .glass h1 {
  text-align: center;
}

.skills .glass ul {
  margin: 3em 5em;
}

.my-projects {
  width: 100%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.my-projects h1 {
  text-align: center;
}

.my-projects .projects .proj {
  width: 90%;
  border: 2px solid #406882;
  border-radius: 10px;
  margin: 0 auto 2em auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
}

.my-projects .projects .proj img {
  width: 98%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.my-projects .projects .proj .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-projects .projects .proj .project-links a {
  color: white;
}

.my-projects .projects .proj .project-links a .github-icon,
.my-projects .projects .proj .project-links a .link-icon {
  width: 30px;
  position: relative;
  top: 10px;
}

.about-me {
  width: 90%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.about-me h1 {
  text-align: center;
}

.contacts {
  width: 60%;
  margin: auto;
  border: 1px solid #406882;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.15)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
  border-radius: 15px;
  padding: 1em;
  margin-top: 3em;
}

.contacts #contacts {
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts #contacts a {
  color: white;
  text-decoration: none;
}

.contacts #contacts a img {
  width: 30px;
}

.contacts #contacts a:hover {
  color: orangered;
}

/* Medis Query */
@media (min-width: 675px) {
  main {
    max-width: 1440px;
    width: 90%;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    padding: 0 1em;
  }
  nav .index {
    width: 50%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  nav .index li {
    margin: 0;
    background-color: transparent;
    border: 0.1px solid transparent;
  }
  nav .index li:hover {
    border-bottom: 1px solid #1A374D;
  }
  .projects {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .proj {
    width: 70%;
  }
  .toggle {
    display: none;
  }
}

@-webkit-keyframes translate-li {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 1em;
  }
}

@keyframes translate-li {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 1em;
  }
}

@media (max-width: 675px) {
  .index li:hover {
    -webkit-animation: translate-li 1s ease 0 0 normal;
            animation: translate-li 1s ease 0 0 normal;
  }
}
/*# sourceMappingURL=main.css.map */